<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/static-layout}"
      th:with="cardHeader='Upload failed'">
<head>
    <title>Import issues</title>
</head>
<body>
<section layout:fragment="dynamic-content">
    <div class="alert alert-danger" role="alert">
        <strong>Error:</strong>
        <span>An unexpected error has occurred.</span>
    </div>
</section>
</body>
</html>