[data-theme="dark"] {
  background-color: #222 !important;
  color: #eee;
}

[data-theme="dark"] .text-primary {
  color: rgba(55, 90, 127, 1) !important;
}

[data-theme="dark"] .bg-light {
  background-color: #333;
}

[data-theme="dark"] .bg-white {
  background-color: #000;
}

[data-theme="dark"] .bg-black {
  background-color: #eee;
}

[data-theme="dark"] .list-group-item {
  color: #eee;
  background-color: #333;
  border-bottom: 1px solid #555;
}

[data-theme="dark"] .list-group-item.active {
  color: #eee;
  background-color: #444;
  border-color: #333;
}

[data-theme="dark"] .list-group-item-action:hover, .list-group-item-action:focus {
  color: #ccc;
  background-color: #444;
}

[data-theme="dark"] .list-group-item-action:active {
  color: #eee;
  background-color: #333;
}

[data-theme="dark"] .card {
  background-color: #333;
  border: 1px solid #555;
}

[data-theme="dark"] .card-header {
  color: #eee;
  background-color: #444;
  border-bottom: 1px solid #555;
}

[data-theme="dark"] .form-control::file-selector-button {
  color: #eee;
  background-color: #444;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

[data-theme="dark"] .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #333;
}

[data-theme="dark"] .btn-primary {
  color: #fff;
  background-color: #375a7f;
  border-color: #375a7f;
}

[data-theme="dark"] .btn-primary:hover {
  color: #fff;
  background-color: #2f4d6c;
  border-color: #2c4866;
}

[data-theme="dark"] .form-check-input {
  background-color: #375a7f;
  border-color: #375a7f;
}
