<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>File Upload Status</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>File Upload Status</h1>
            <!--display error if any-->
            <div class="alert alert-danger" role="alert" th:if="${!status}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>

            <!--display items list-->
            <table class="table table-striped" th:if="${status}">
                <caption>Issues</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">SystemStructure</th>
                    <th scope="col">Headline</th>
                    <th scope="col">Description</th>
                    <th scope="col">CCBNotesLog</th>
                    <th scope="col">NotesLog</th>
                    <th scope="col">Attachments</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, i : ${items}">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td th:text="${item.cfxId}"></td>
                    <td th:text="${item.systemStructure}"></td>
                    <td th:text="${item.headLine}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.ccbNotesLog}"></td>
                    <td th:text="${item.notesLog}"></td>
                    <td th:text="${item.attachments}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>