<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/static-layout}"
      th:with="cardHeader='Read properties'">
<head>
    <title>Import issues</title>
</head>
<body>
<section layout:fragment="dynamic-content">
    <form class="row g-2" method="POST" th:action="@{/upload-properties-file}"
          enctype="multipart/form-data">
        <div class="col-12">
            <label for="propFile">PROPERTIES file</label>
            <input class="form-control" type="file" name="file" id="propFile" accept=".properties">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Import</button>
        </div>
    </form>
</section>
</body>
</html>